<div>
  <h1>Angular Components</h1>
  <app-post-form
    (add)="updatePosts($event)"
  ></app-post-form>
  <hr/>
  <input type="text" [(ngModel)]="search">
  <button class="btn" (click)="searchField = 'title'">Title</button>
  <button class="btn" (click)="searchField = 'text'">Text</button>
  <app-post *ngFor="let p of posts | filter: search : searchField"
            [post]="p"
            (removeId)="removePost($event)"
  >
    <div #info>
      <small *ngIf="p.title.length < 10; else big">Short</small>
      <ng-template #big>
        <small>Long</small>
      </ng-template>
    </div>
  </app-post>
  <hr>
  <button (click)="isVisible = !isVisible">Toggle</button>
  <div *appIfnot="!isVisible" class="wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, sequi.</p>
  </div>
  <hr>
  <p>{{'Hello World    ' | exMarks}}</p>
  <hr>
  <p>{{date$ | async | date:"HH:mm:ss"}}</p>
  <hr>
  <p appStyle2="blue" [dStyle]="{border: '1px solid red', borderRadius: '5px'}">Wait for it... {{p | async}}</p>
  <hr>
  <app-pipe></app-pipe>
  <hr>
  <h2>{{counterService.counter}}</h2>
  <button (click)="counterService.increase()">Increase</button>
  <button (click)="counterService.decrease()">Decrease</button>
</div>
